*{
    margin: 0;
    padding: 0;
    font-family: 'Trirong', serif;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;

}
section.header {
    height: 100vh;
    width: 100%;
}
body{
    background: linear-gradient(rgba(82, 59, 88, 0.7), rgba(63, 88, 122, 0.7));
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    display:flex;
    padding: 3% 3%;
    justify-content:space-between;
    align-items: center;
}
nav img {
    width: 100px;
}
.nav-links{
    flex:2;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 3px 5px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: wavy;
}
.nav-links ul li::after {
    content: ' ';
    width: 0%;
    height: 1px;
    background: #ccccff;
    display: block;
    margin: auto;
    transition:0.7s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 80%;
    color:#fff;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding-top: 150px;
}

.text-box p{
    margin: 5px 0 20px;
    font-size: 20px;
    color: #ccccff;
    font-family: 'Roboto Slab', serif;
    padding-top: 120px;
}
.abt{
   display: inline-flex; 
   text-decoration: none;
   color: #ccccff;
   border: 1px solid #fff;
   padding: 10px 25px;
   font-size:10px bold;
   background:transparent;
   position: relative;
   cursor:pointer;
   border-radius: 10px;
}
.abt:hover{
    border: 1px solid #ccccff8a;
    background: #ccccff8a;
    transition: 1s;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

:root {
	--angle: 4deg;
}
.word-container {
	position: relative;
	width: 100%;
	min-height: 100%;
	outline: 1px solid;
}

.word {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: "Montserrat";
	font-size: 8rem;
	font-weight: 900;
	color: var(--color, #DBCAFB, #BC9DF9,#937DFD, #775BFB );
	display: flex;
	pointer-events: none;
	user-select: none;
	line-height: 5.8rem;
}
	.char {
		position: relative;
		-webkit-text-stroke: 2px #000;
		transform: translateY(-45%) rotate(var(--angle));
		animation: up-and-down 2s ease infinite;
		animation-delay: calc((var(--word-index) * -0.15s) + (var(--char-index) * 0.1s));
		z-index: calc(-1 * var(--char-index));
		margin-left: -1.6rem;
	}


@keyframes up-and-down {
	0%,
	100% {
		transform: translateY(-45%) rotate(var(--angle));
	}
	50% {
		transform: translateY(45%) rotate(var(--angle));
	}
}
